@font-face {
    font-family: 'svgfont_0regular';
    src: url('icons-font-webfont.eot');
    src: url('icons-font-webfont.eot?#iefix') format('embedded-opentype'),
    url('icons-font-webfont.woff2') format('woff2'),
    url('icons-font-webfont.woff') format('woff'),
    url('icons-font-webfont.svg#svgfont_0regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.icon {
    display: block;
    font-family: svgfont_0regular;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before{
    content: 'a';
}
.icon-facebook:before{
    content: 'b';
}
.icon-case:before{
    content: 'c';
}
.icon-arrow-up:before{
    content: 'd';
}
.icon-plus:before{
    content: 'e';
}
.icon-chain:before{
    content: 'f';
}
.icon-cart:before{
    content: 'g';
}
.icon-user:before{
    content: 'h';
}
.icon-ok:before{
    content: 'i';
}
.icon-vimeo:before{
    content: 'j';
}
.icon-skype:before{
    content: 'k';
}
.icon-map:before{
    content: 'l';
}
.icon-plus-thin:before{
    content: 'm';
}
.icon-devices:before{
    content: 'n';
}
.icon-lamp:before{
    content: 'o';
}
.icon-diamond:before{
    content: 'p';
}
.icon-tap:before{
    content: 'q';
}
.icon-arrow-right:before{
    content: 'r';
}
.icon-arrow-left:before{
    content: 's';
}